<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageSources>
		<clear />
		<add key="inrayProGet" value="https://inray-nuget/nuget/inray-nuget/v3/index.json" />
		<add key="inrayAzure" value="https://pkgs.dev.azure.com/inray/_packaging/inray/nuget/v3/index.json" />
		<add key="Conventions Local" value="D:\github\conventions\src\GraphQL.Conventions\bin\Debug" />

		<add key="Gql Local" value="D:\github\graphql-dotnet\src\GraphQL\bin\Debug" />

	</packageSources>

</configuration>